{% extends "app/base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Register {% endblock title %}
{% block content %}

<div class="register-section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 register">
        <form method="POST" class="register_form">
          <img src="{% static 'images/register.png' %}" alt="">
          {% csrf_token %}
          <fieldset class="form-group">
            {{ form.as_p}}
          </fieldset>
          <center>
            <button class="btn btn-outline-info" type="submit"><span class="glyphicon glyphicon-check"></span> &nbsp;
              sign up</button>
          </center>
          <br />
          Already have an account?<a class="btn-sm" href="{% url 'login' %}"> Sign In</a>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock content %}